# Build directory
lib/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo
.tscache

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz
